body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: background 400ms, color 400ms;
	background: rgb(248, 188, 98);
}

@media screen and (max-width: 750px) {
	body {
		min-height: 100vh;
	}
}

body.theme-dark {
	color: white;
}

#cookie-consent {
	opacity: 0;
	font-size: 1em;
	letter-spacing: 0.1em;
	font-weight: normal;
	line-height: 1.4;
	max-width: 500px;
	margin: 20px auto 0;
	transition: opacity 200ms;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	max-width: 400px;
	padding: 17px 20px;
}

@media screen and (max-width: 750px) {
	header {
		position: relative;
		left: auto;
		max-width: 500px;
		margin: 0 auto;
	}
}

header h1 {
	font-size: 3em;
	font-weight: normal !important;
	letter-spacing: 0.05em;
	margin: 0 0 0 -2px;
	line-height: 1;
	padding-bottom: 0.1em;
}

header p {
	font-size: 1em;
	letter-spacing: 0.1em;
	font-weight: normal;
	line-height: 1.4;
}

.link {
	text-decoration: none;
	color: black;
	padding-bottom: 2px;
	transition: color 400ms, border 400ms;
	position: relative;
}

.link:before,
.link:after {
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	right: 0;
	background: black;
	content: '';
	transition: background 400ms, width 200ms ease-out;
}

.link:before {
	right: auto;
	left: 0;
	width: 0;
	transition-delay: 100ms;
}

.link:hover:before {
	width: 100%;
}

.link:hover:after {
	width: 0;
}

body.theme-dark .link {
	color: white;
}

body.theme-dark .link:before,
body.theme-dark .link:after {
	background: white;
}

.container-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	padding: 250px 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 750px) {
	.container-content {
		padding: 20px;
		min-height: auto;
	}
}

.container-settings {
	
}

.sliders {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;

}

.slider {
	
}

.slider input {
	position: relative;
	appearance: none;
	border: 2px solid #000000;
	height: 20px;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border-radius: 10px;
	cursor: pointer;
	transition: background 750ms;
	transition: border 400ms;
}

body.theme-dark .slider input {
	border: 2px solid white;
}

.slider input#input-hue {
    background: linear-gradient(to right, rgb(255,0,0), rgb(255,255,0), rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),rgb(255,0,0));
}

.slider input#input-saturation {
	background: linear-gradient(to right, hsl(36, 0%, 50%) 0%, hsl(36, 100%, 50%) 100%);
}

.slider input#input-lightness {
	background: linear-gradient(to right, hsl(36, 100%, 0%) 0%, hsl(36, 100%, 50%), hsl(36, 100%, 100%) 100%);
}

.slider input:focus {
	outline: none !important;
}

.slider input:active {
	cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

/* Hide the system range bar */
.slider input::-moz-range-track,
.slider input::-ms-track {
    outline: none !important;
    appearance: none;
    opacity: 0;
}

/* Hide the range marker */
.slider input::-moz-range-thumb {
	appearance: none;
	width: 20px;
	height: 34px;
	cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    width: 5px;
    height: 36px;
    top: -8px;
    background: #000000;
    border-radius: 3px;
    transition: background 400ms;
}

body.theme-dark .slider input::-moz-range-thumb {
	background: white;
}

@media screen and (max-width: 600px) {
	.slider input::-moz-range-thumb {
		width: 34px;
		height: 34px;
		border-radius: 18px;
	}
}

.slider input::-moz-range-thumb:active {
	cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}


.slider input::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 34px;
	cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    width: 5px;
    height: 36px;
    top: -8px;
    background: #000000;
    border-radius: 3px;
    transition: background 400ms;
}

body.theme-dark .slider input::-webkit-slider-thumb {
	background: white;
}

@media screen and (max-width: 600px) {
	.slider input::-webkit-slider-thumb {
		width: 34px;
		height: 34px;
		border-radius: 18px;
	}
}

.slider input::-webkit-slider-thumb:active {
	cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.preset-title {
	font-size: 1em;
	letter-spacing: 0.1em;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
}

.container-presets {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}

.container-presets .preset {
	border: 2px solid black;
	display: inline-block;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 5px;
	transition: border 400ms, transform 200ms;
	position: relative;
}

.container-presets .container-preset {
	position: relative;
	display: inline-block;
	transition: opacity 300ms, margin 600ms;
}

.container-presets .container-preset .delete {
	width: 14px;
	height: 14px;
	border-radius: 10px;
	background: red;
	border: 2px solid black;
	transition: background 200ms;
	position: absolute;
	top: 2px;
	right: 2px;
	display: inline-block;
	opacity: 0;
	transition: transform 200ms, background 200ms, opacity 200ms;
	cursor: pointer;
	pointer-events: none;
}

.container-presets .container-preset .delete:before,
.container-presets .container-preset .delete:after {
	width: 2px;
	height: 8px;
	background: black;
	position: absolute;
	top: 3px;
	left: 6px;
	content: '';
}

.container-presets .container-preset:hover .delete {
	pointer-events: auto;
}

.container-presets .container-preset .delete:hover {
	transform: scale(1.2);
}

.container-presets .container-preset .delete:before {
	transform: rotate(45deg);
}

.container-presets .container-preset .delete:after {
	transform: rotate(-45deg);
}

.container-presets .container-preset.delete-animation {
	opacity: 0;
	margin-left: -60px;
}

body.theme-dark .container-presets .container-preset .delete {
	border: 2px solid white;
}

.container-presets .container-preset:hover .delete {
	opacity: 1;
}

.container-presets .preset.add {
	position: relative;
	margin-right: 0;
	z-index: 1;
}

.container-presets .preset.add .sprite {
	z-index: 2;
	position: absolute;
	border: 2px solid black;
	display: inline-block;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	top: -2px;
	left: -2px;
}

.container-presets .preset.add.new-animation {
	transition: margin 600ms;
	margin-right: 59px;
}

.container-presets .preset.add.new-animation .sprite {
	transition: margin 600ms;
	margin-left: 59px;
}

.container-presets .preset.add:hover {
	transform: scale(1);
}

.container-presets .preset.add:hover:before,
.container-presets .preset.add:hover:after {
	transform: rotate(90deg);
}

.container-presets .preset.add:before {
	position: absolute;
	width: 2px;
	height: 24px;
	background: black;
	content: '';
	top: 11px;
	left: 22px;
	border-radius: 2px;
	transition: 400ms;
	transition: background 400ms;
	z-index: 2;
}

.container-presets .preset.add:after {
	position: absolute;
	width: 24px;
	height: 2px;
	background: black;
	content: '';
	top: 22px;
	left: 11px;
	border-radius: 2px;
	transition: 400ms;
	transition: background 400ms;
	z-index: 2;
}

body.theme-dark .container-presets .preset.add:before {
	background: white;
}

body.theme-dark .container-presets .preset.add:after {
	background: white;
}

.container-presets .preset:hover {
	transform: scale(1.1);
}

body.theme-dark .container-presets .preset {
	border: 2px solid white;
}

body.theme-dark .container-presets .preset .sprite {
	border: 2px solid white;
}


























